@use '../../assets/styles/globals.scss' as globals;

.modalSlider{
    position: fixed;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px;
    z-index: 10;
    text-align: left;   //у рулетки необходим текст-алайн центр, который наследовался
    max-width: 500px;
    margin: 0 auto;

    > .modalSlider_content{
        width: 100%;
        max-height: 100%;
        background-color: globals.$color-modal-black;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        overflow: hidden;
        animation: slideUp 0.3s ease-out forwards;
        padding: 8px;


        &.hide{
            animation: slideDown 0.3s ease-out forwards;
        }

        > .modalSlider_grabler{
            // cursor: grab;
            display: block;
            margin: 0 auto;
            user-select: none;
            user-drag: none;
            -webkit-user-drag: none;
            pointer-events: none;
        }

        > .modaSlider_content_container{
            padding: 16px 16px 0 16px;
            max-height: 80vh;
            overflow-y: auto;
            box-sizing: border-box;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #999999;
                border-radius: 2px;
            }

            & {
                scrollbar-width: thin;
                scrollbar-color: #999999 transparent;
            }


            > .modalSlider_prizeImg{
                max-width: 200px;
                margin: 0 auto;
            }

            > .modalSlider_heading{
                margin-top: 16px;
                align-self: flex-start;
                font-size: 24px;
                line-height: 30px;
                color: white;
                font-weight: 600;
            }

            > .modalSlider_details{
                margin-top: 16px;
                border-radius: 16px;
                padding: 12px;
                box-sizing: border-box;
                background-color: globals.$color-modal-lightBlack;

                > .modalSlider_details_heading{
                    color: white;
                    font-size: 16px;
                    list-style: 24px;
                    letter-spacing: 0%;
                    font-size: 600;
                }

                > .modalSlider_details_info{
                    margin-top: 8px;
                    color: globals.$color-white-additional;
                    font-size: 16px;
                    list-style: 24px;
                    letter-spacing: 0%;
                    font-weight: 400;
                }

                > .modalSlider_details_promocodeCopy{
                    margin-top: 8px;
                    background-color: globals.$color-grey;
                    outline: none;
                    border: globals.$color-light-grey 1px solid;
                    padding: 12px 16px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border-radius: 99px;
                    cursor: pointer;

                    > .modalSlider_details_promocodeCopy_promocode{
                        font-size: 16px;
                        color: white;
                        line-height: 100%;
                        letter-spacing: 0%;
                        font-weight: 400;
                    }
                }

                > .modalSlider_details_promocodeExplain{
                    margin-top: 8px;
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;

                    > .modalSlider_details_promocodeExplain_text{
                        color: globals.$color-white-special;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0%;
                    }
                }
            }

            > .modalSlide_closeButton{
                position: sticky;
                bottom: 0;
                background-color: globals.$color-modal-black;
                padding: 16px 0;
                display: flex;

                > .button_global_presset{
                    flex: 1;
                    max-width: none;
                }
            }
        }
    }

    > .modalSlider_background{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: -1;
        animation: modalBackShow 0.3s ease-out forwards;
        pointer-events: auto;
    
        &.hide{
          animation: modalBackHide 0.3s ease-out forwards;
          pointer-events: none;
        }
    }
}

// анимация фона
@keyframes modalBackShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}

@keyframes modalBackHide {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

// слайды вверх/вниз
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}