@use '../../assets/styles/globals.scss' as globals;

.casino_main{
    margin-top: 64px;
    background-image: url('../../assets/img/backgroundOptima.png');
    overscroll-behavior: none;
    background-attachment: fixed;
    color: white;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    // background-color: black;
    // background-repeat: no-repeat;
    //  background-size: cover;

    > .main_container{
        padding: 24px 0 99px 0;
        
        > .main_description{
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 16px;

            > .main_description_first{
                font-weight: 600;
                font-size: 40px;
            }

            > .main_description_second{
                margin-top: 16px;
                font-weight: 400;
                font-size: 16px;
                color: globals.$color-white-opacity;
            }
        }

        > .itemsList{
            max-width: 1440px;
            margin: 64px auto 0 auto;
            padding: 0 16px;

            > .itemsList_heading{
                font-size: 24px;
                font-weight: 600;
            }

            > .itemsList_list{
                margin-top: 16px;
                display: grid;
                gap: 8px;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }

            > .linkLikeButton_global_presset{
                margin: 16px auto;
                background-color: transparent;
                color: globals.$color-yellow-main;
                border: globals.$color-yellow-main 1px solid;
                box-sizing: border-box;
            }
        }
    }
}

@media (max-width: 700px) {
    .casino_main{
        > .main_container{
            > .itemsList{
                > .itemsList_list{
                    margin-top: 16px;
                    display: grid;
                    gap: 8px;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
}

// ОТСТУП ТАК КАК ХЕДЕР ФИКСИРОВАН
.casino_main{
    margin-top: 64px;
}