@use '../../assets/styles/globals.scss' as globals;

.item {
  width: 100%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: 1px solid globals.$color-light-grey;
  border-radius: 16px;
  overflow: hidden; // чтобы не торчал img за рамку
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover; // <= это ключевое: заполняет и сохраняет пропорции
    border-radius: 16px;
  }
}
