main{
    background: url('../assets/images/background.svg');
    height: 100vh;

    > .main_container{
        max-width: 1440px;
        margin: 0 auto;
        padding: 24px 16px;
        
        > .main_description{

            > .main_description_first{
                font-weight: 600;
                font-size: 40px;
            }

            > .main_description_second{
                margin-top: 16px;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}