body {
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform;
}

input{
  color: white;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}