$color-black: #0D0D0D;
$color-yellow-main: #EEBE4E;
$color-orange-sec: #E2B345;
$color-grey: #232323;
$color-light-grey: #333333;
$color-superLight-grey: #888888;
$color-extraLight-grey: #8F8F8F;
$color-button-black: #1C1C1C;
$color-red: #D52A43;
$color-white-opacity: #C5C5C5;

// пресет для всех кнопок
.button_global_presset{
    cursor: pointer;
    background-color: $color-yellow-main;
    color: $color-button-black;
    max-width: 400px;
    width: 100%;
    border-radius: 99px;
    border: none;
    outline: none;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
}

// пресет, если свёрстанную кнопку нужно будет сделать ссылкой
.linkLikeButton_global_presset{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background-color: $color-yellow-main;
    color: $color-button-black;
    max-width: 400px;
    width: 100%;
    border-radius: 99px;
    border: none;
    outline: none;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: $color-button-black;
}